@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --color-primary: #48BAB0;
  --color-secondary: #0A4239;
  --color-white-blue: #E4F5F5;
  --container: 1392px;
  --container-lg: 1446px;
}
@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-white-blue: var(--color-white-blue);
  --container-main: var(--container);
  --container-main-lg: var(--container-lg);  
  /* --font-sans-flex: "Google Sans Flex", sans-serif; */
  --font-sans-flex: var(--font-google-sans-flex);
}
@utility font-sans-flex {
  font-family: var(--font-sans-flex), sans-serif;
}
@utility space-py {
  @apply py-12 lg:py-20;
}
@utility space-pt {
  @apply pt-12 lg:pt-20;
}
@utility space-pb {
  @apply pb-12 lg:pb-20;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: var(--font-google-sans-flex), sans-serif;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container:not([class*="max-w-"]) {
  width: 100%;
  max-width: var(--container);
}
.swiper-wrapper {
  align-items: stretch;
}
.swiper-slide {
  height: auto !important;
}
@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans-flex leading-tight;
  }
  button {
    @apply cursor-pointer;
  }

  .cms-list li {
  @apply relative pl-6 pb-2 last:pb-0;
}

.cms-list li::before {
  @apply absolute left-0 top-[0.7em] size-2 -translate-y-1/2 rounded-full bg-[#a8acb3];
  content: "";
}
}